.header__logo {
    width: 176px;
    height: 52px;
    margin-left: 48px;
    margin-top: 28px;
    
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin-left: 16px;
        margin-top: 16px;
    }
}
