.intro__text {
    max-width: 690px;
    width: 100%;
    margin: 40px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        /*margin: 40px 48px 0 48px;*/
        margin: 40px 24px 0 24px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: auto;
        /*margin: 40px 24px 0 24px;*/
    }
}

@media screen and (max-width: 425px) {
    .intro__text {
        margin: 40px 16px 0 16px;
    }
}