.intro__text {
    width: 690px;
    margin: 40px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: auto;
        margin: 40px 24px 0 24px;
    }
}