.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0;
}

.place__link:hover {
    opacity: 0.8;
}