@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraph-item/place__paragraph-item.css);

.place {
    margin: 80px 48px 0 48px;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-gap: 48px 28px;
        margin: 72px 24px 0 24px;
    }
}

@media screen and (max-width: 475px) { /*425px*/
    .place {
        min-width: 320px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-gap: 32px;
        /*margin: 80px 0 0 0;*/
    }
}