@import url(./__links/footer__links.css);
@import url(./footer__link-cover/footer__link-cover.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    padding: 92px 0 24px 0;
    /*margin: 0 48px 0 48px;*/
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        padding: 65px 0 24px 0;
    }
}